/* Layout.css */

/* reset.css */
html, body {margin: 0;}
h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0;}
ul,ol,li {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: inherit;}
/*.clearfix::after, .clearfix:after {content:" "; display: block; width: 100%; height: 0; clear:both;}*/

/* design */
#wrap {width: 800px; height: 350px; background-color: #fa9; margin: 0px auto; padding: 25px; box-sizing: border-box;}
#wrap > div {width: 250px; height: 300px; padding: 25px; box-sizing: border-box; float: left;}

/* ================================ wrap */
  .yellow {background-color: #ffa;}
    .c_yellow {width: 200px; height: 250px; background-color: #fff;}
  .pink {background-color: #faf;}
    .c_pink {width: 200px; height: 250px; background-color: #fff;}
  .green {background-color: #9f9;}
    .c_green {width: 200px; height: 250px; background-color: #fff;}
 
  /* ================================ box */
.box > ul {width: 100%; height: 500px; background-color: #fff; padding: 0;}
.box > ul> li {list-style: none; width: 100px; height: 100px; float: left; background-color: #777; color: #fff; font-weight:bold; line-height: 100px; text-align: center;}
.box > ul > li:nth-child(3n-1) {background-color: #57a;}
.box > ul > li:nth-child(3n-2) {background-color: #a75;}

 /* ================================ margin */
.margin {width: 800px; width: auto; margin: auto; padding: 1rem; box-sizing: border-box; background-color: #ccc;}
/* =================마진은 시계방향으로 적용된다. */
/* -- 상하좌우 모두 10px -- */

.margin li:nth-child(1){margin:10px;}
/* -- 상하10px 좌우50px -- */
.margin li:nth-child(2){margin:10px 50px;}
/* -- 상10px 좌우100px 하50px -- */
.margin li:nth-child(3){margin:10px 100px 50px;}
/* -- 상10px 우100px 하50px 좌30px -- */
.margin li:nth-child(4){margin:10px 100 50px 30px;}

 /* ================================== padding */
 /* 단위(unit): 16px == 12pt == 100% == 1em == 1rem */
.padding {width: 800px; height: auto; box-sizing: border-box; padding:1rem; background-color: #fac; margin: auto;}
.padding li:nth-child(1){padding: 30px;}
.padding li:nth-child(2){padding: 30px 5px;}
.padding li:nth-child(3){padding: 30px 100px 5px;}
.padding li:nth-child(4){padding: 30px 10px 100px 5px;}

/* ================================== border */
/* 
* border(테두리 외곽선)
* border-width(선의 두께): 0.3rem;
* border-style(선의 모양): solid(직선) dotted(점선) dashed(쇄선) ridge(액자형태) double(이중선)
* border-color(선의 색상): rgba(255, 255, 100, 0.5)
*/

.border {width: 800px; height: auto; box-sizing: border-box; padding: 1rem; background-color: #cca; margin: auto;}
.border li:nth-child(1) {border-width: 1rem; border-style:dotted; border-color:#ffa;}
.border li:nth-child(2) {border-width: 0.5rem; border-style:dashed; border-color: #ac0;}
.border li:nth-child(3) {border: 10px ridge #fff;}
.border li:nth-child(4) {border-left: 20px double #faa; border-top: 20px solid #aaf; border-bottom-width:30px; border-bottom-style: #afa;}
.border li:nth-child(5) {border: 5px solid #fac; box-sizing: border-box;}
.border li:nth-child(6) {border: 10px solid #fa0; box-sizing: border-box; padding:20px;}
.border li:nth-child(7) {color: #555; margin-top: 70px; width: 0; height: 0 border: 30px solid #333; background-color: rgba(0,0,0,0); !important; border-top-color: transparent; border-bottom-color: rgba(0,0,0,0,)
border-right-color :rgba(0,0,0,0);}
/* 속성값의 말미에 !important 를 사용하면 강제성을 띈다
* 수정처리가 거의 불가능에 가깝다
* 가급적 사용하지 않는다. */

/* ================================== outline */
.outline {width: 800px; height: auto; background-color: #ccc; margin: auto; padding: 1rem; box-sizing: border-box;}
.outline li:nth-child(1){outline-width:10; outline-style:dashed;}
.outline li:nth-child(2){outline: 20 solid #af0;}
.outline li:nth-child(3){outline:30px solid #af0; outline-top-width:none;}
