/* semantic_02.css */


/* wrap ========== */
#wrap {margin: 0 auto; width: 960px; height: 4310px; background-color: #fff;}

/* headBox ========== */
#headBox {padding: 0.3rem; padding-left: 1rem; box-sizing: border-box; width: 100%; height: 112px; background-color: #fff; }
  h1 {text-align: center; float: left; width: 100px; height: 100px; background-color: #f92; }
  #nav {float: right; width: 15rem; height: 40%; margin: 1rem; background-color: #f92;}

/* adBox ========== */
#adBox {width: 100%; height: 625px; background-color: #ddd;}

/* goodBox ========== */
#goodBox {width: 100%; height: 275px; background-color: #bbb;}
  #content {width: 100%; height: 100%;}
    .con{float: left; width: 25%; height: 100%;}
    .con_1, .con_3 {background-color: #f92;}
    .con_2, .con_4 {background-color: #fd3;}

/* snbBox ========== */
#snbBox {padding: 2rem; box-sizing: border-box; width: 100%; height: 400px; background-color: #fff;}
  #snbBox > h2 {margin-left: 10rem; width: 20rem; height: 3.5rem; background-color: #ddd;}
  .narr {margin-top: 4rem; float: left; width: 20%; height: 40%; 
    background-color: #fd3;}
  .snb_list {margin-left: 2rem; margin-top: 1rem; float: left; width: 74.5%; height: 85%;}
  .snb_list > li {margin:0.3rem; float: left; width: 31.5%; height: 7rem; background-color: #f92;}

/* tasteBox ========== */
#tasteBox {width: 100%; height: 365px; background-color: #bbb;}
  #tasteBox > h2 {float:right; margin-right: 8rem; margin-top: 1rem; margin-bottom: 1rem; width: 20rem; height: 3.5rem; background-color: #ddd;}
  #taste_img {float: left; width: 50%; height: 100%; background-color: #fd3;}
  .taste_text {padding:2rem; box-sizing: border-box; float: left; width: 50%; height: 76%; background-color: #f92;}
  .taste_text > dt {font-size: 1.5rem;}

/* eduBox ========== */
#eduBox {padding: 2rem;  box-sizing: border-box; width: 100%; height: 550px; background-color: #fff;}
  #eduBox > h2 {margin-left: 10rem; margin-bottom: 2rem; width: 20rem; height: 3.5rem; background-color: #ddd;}
  #edu_img {float: left; width: 50%; height: 80%; background-color: #fd3;}
  .edu_text {float: left; margin: 0.5rem; margin-top: 1.5rem; width: 46%; height: auto; }
  .edu_text > dt {font-size: 1.5rem;}


/* originBox ========== */
#originBox {padding: 2rem;  box-sizing: border-box; width: 100%; height: 560px; background-color: #ddd;}
  #originBox > h2 {margin-left: 2rem; width: 20rem; height: 3.5rem; background-color: #aaa;}
  .origin_text {float: left; margin-top: 2rem; width: 50%; height: 80%; background-color: #f92;}
  .origin_text > dt {font-size: 1.5rem;}
  #origin_img {float: left; margin-top: 6rem; margin-left: 3rem; width: 40%; height: 40%; background-color: #fff;}

/* partsBox ========== */
#partsBox {padding: 2rem; box-sizing: border-box; width: 100%; height: 590px; background-color: #fff;}
  #partsBox > h2 {margin-left: 10rem; width: 20rem; height: 3.5rem; background-color: #aaa;}
  .parts {float: left; width: 45%; height: 45%;}
  .parts > dl {width: 50%; height: 100%; background-color: #fd3;}
  .parts > dl > dt {font-size: 1.5rem;}



/* mapBox ========== */
#mapBox {padding: 2rem;  box-sizing: border-box; width: 100%; height: 560px; background-color: #ddd;}
  #mapBox > h2 {margin-left: 10rem; width: 20rem; height: 3.5rem; background-color: #aaa;}
  .map_narr {float: left; margin-top: 3rem; width: 47%; height: 60%; background-color: #f92;}
  .map_narr > dt {font-size: 1.5rem;}
  #map_img {float: left; margin-top: 3rem; margin-left: 1rem;width: 50%; height: 60%; background-color: #fd3;}

/* footBox ========== */
#footBox {padding: 1.5rem;  box-sizing: border-box; width: 100%; height: 270px; background-color: #555;}
  #footBox > h2 {float: left; width: 10rem; height: 10rem; background-color: #ddd;}
 #address {float: left; margin-top: 4rem; margin-left: 2rem; width: 60%; height: auto; background-color: #f92;}
 .tired {float: left; margin-top: 4rem; margin-left: 1rem; color:#fff; width: auto; height: auto;}
 .sns {float: left; margin-top: 1rem; margin-left: 13rem; width: 10rem; height: 2rem;}
 .sns > li {float: left; margin-left: 1rem; width: 2rem; height: 2rem; background-color: #fff;}