/* semantic_03.css */

/* wrap ========== */
#wrap {margin: 0 auto; width: 960px; height: 3650px; background-color: #fff;}

/* headBox ========== */
#headBox {width: 960px; height: 80px;}

/* adBox ========== */
#adBox {width: 960px; height: 640px; background-color: #fd3;}

/* updateBox ========== */
#updateBox {width: 960px; height: 690px;}

/* serviceBox ========== */
#serviceBox {width: 960px; height: 710px; background-color: #fd3;}

/* newsBox ========== */
#newsBox {width: 960px; height: 722px;}

/* privacyBox ========== */
#privacyBox {width: 960px; height: 660px; background-color: #333;}

/* gnbBox ========== */
#gnbBox {width: 960px; height: 95px; background-color: #fd3;}

/* footbox ========== */
#footBox {width: 960px; height: 45px; background-color: #333;}